@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);

body{
	background-color: #ffffff;
	margin:0;
	font:15px 'Open Sans',sans-serif;
	cursor:default;
	line-height:1.8;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}

#wrapper{
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
	border-radius: 10px;
	text-align: center;
	width: 600px;
	padding: 10px;
	margin:auto;
}

.input-file{
    background-color: #f8f9fc;
    border: 1px solid #e2e9f3;
    border-radius: 4px;
    height: 40px;
    width: 500px;
    color: #565A90;
}



.input-file::file-selector-button{
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #595ef1bd;
    border: 1px solid #595ef1bd;
    height: 40px;
    cursor: pointer;
    transition: all .25s ease-in;
    cursor: pointer;
}
.input-file::file-selector-button:hover{
    background-color: #fff;
    color: #565A90;
    transition: all .25s ease-in;
}

.main-col{
	
}

#gorgerous{
	appearance: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #A0A0A0;
	border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#gorgerous:checked::before {
	content: '';
    position: absolute;
    width: 26px;
    height: 26px;
	border-radius: 3px;
    background-color: #8286f4;
}

.pkmInfo{
	display:flex;
	gap: 30px; /* Espacio entre los elementos */
	margin: 10px;
	padding: 10px;
	width: 350px;
	height: auto;
	border: 1px solid black;
}

.col{
	display:block;
}

.col span{
	display:block;
}

.innerCol{
	width: 90px;
	text-align: center;
}

#stats, #moves{
	text-align: left;
}

/* FOOTER */

footer{
	text-align:center;
	color:#767b86;
	font-size:85%;
}
footer a{
	color:#969ba6;
	text-decoration:none;
	border-bottom:1px solid #464b56;
}
footer a:hover{
	color:white;
	border-color:#41d5ff;
}

hr{border:none;border-top:1px dotted #bbb;margin:15px 0}

footer .icon, #crc32.valid:after{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAQCAYAAABQrvyxAAACUElEQVRIx9XWzUtUURzG8atp04svtCiI3v6EQFIoInBREFgEQtC+VVCLWoQLMTKqRUEbU4uKaOht5a7IoDcoWkiLIKKVgqUUvkGMM2revid+V55u5+qdS5ANfEDvPXN4npl7zpkgDMMgpgFX8QEF8xG9aPKM/6f0n7W4ifkw+eXu5VG33Aq48G/C9K8B1EeTjLTsdrbjMQqYwn1sw2bkMYlp9GOHe89CiDNBuU5jAOujSe5KsFY8wVe8NaN4hsN4bWP7pIAL9B1hzGcMe667IjszFuhAaN65CfbIJ5tP8bVdl/F7rcBzT8ilvMxQ4JyEd9rdBHck0JUUBc7L+HtWoJShwEyswCasSghegUux8G2/7jHBoCzQDSkKuGd/1t4zZAVGMhQYlQLNmEA/1sTCV6JHgs/jxMJ9JihamEIZq3/M3lO0AmczFLggBYYloCuxWj753lj4Y78VZIJxeSQ2pgi/Dj9s/IQVqEZfGeEfIScFGjAmQZ+iDjfk2hyO/vF4McELKdCZokCbjH8l26gr8TBFeFc059lGXYlxCVyUv2dxxLs+mOC4hXkPt7AuYqsn+BYrOCcFTkkBpwq3Fwn/wIoGCedAIyZji3UGrYk7kx1ig1agXQLul/DNnsPsS3QiSwGnEt2e8LewQscmbKNN8k2UcGjRrdUm2YVp9OAgTqJKCuRi4UtWKvAUcCpwWcJ3WbEgRYHocRpCy5Jng4TcZ4vyk522NXJvpYSfwgF9vDwFIp1ut0m6/7d/zAW2C3XhG2rlerVdu2ZrYVn+Gv0v/QQllGUdmIg+uwAAAABJRU5ErkJggg==');	
}
footer .icon{
	background-position:0px 0px;
	display:inline-block;
	vertical-align:middle;
	width:16px;height:16px
}
footer .icon.heart{background-position:-16px 0px}
footer .icon.check{background-position:-32px 0px}

/*  */